@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b; /* Slate-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3b82f6, #9333ea); /* Tailwind blue to purple */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2563eb, #7e22ce);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #1e293b; /* thumb and track */
}


/* Smooth transitions */
* {
  transition: all 0.2s ease-in-out;
}